<header>

<!-- As a link -->

<nav class="navigation-bar">
   
    <a href="/">Home</a>
    <a href="/programs/">Programs</a>  
    <a href="/categories/">Catégories</a>

    <a href="#">Get in Touch</a>
</nav>
</header>