<header>

<!-- As a link -->

<nav class="navigation-bar">
    <img class="logo" src="{{ asset('build/lune.png') }}" alt=""/>
    <a href="/">Home</a>
    <a href="/programs/">Programs</a>
    <a href="#">Get in Touch</a>
</nav>
</header>