<header>

<!-- As a link -->

<nav class="navigation-bar">
   
    <a href="/">Home</a>
    <a href="/programs/">Programs</a> 
    <a href="/actor/">Actors</a> 
    <a href="/categories/">Categories</a>
    <a href="/episode/">Episodes</a>
    <a href="/comment/">Comment</a>

    {% if app.user %}
    {{ app.user.email }}
    <a href="{{ path('app_logout') }}"> Se déconnecter</a>
{% else %}
    <a href="{{ path('app_login') }}"> Se connecter</a>
{% endif %}

    <a href="#">Get in Touch</a>
</nav>
</header>