
{% extends 'base.html.twig' %}

{% block content %}
<img src="{{ asset('build/images/lune.png') }}" alt="logo la lune" width="200" height="200" >
<div>
   <h1>Welcome in Programs Land !</h1>
</div>
{% endblock %}

